<h1> Showing Donors </h1>
<div id="donor_data" data-index="<%=@donor.id%>">
  <%= render "donor.html", conn: @conn, donor: @donor %>
  <%= donor_edit_button @conn, @donor %>
  <%= render "notes.html", donor: @donor %>
  <%= render "phones.html", donor: @donor %>
  <%= render "address.html", donor: @donor %>
</div>