%h1 Showing Donors
#donor_data(data-index="<%=@donor.id%>")
= render "donor.html", donor: @donor
= render "notes.html", donor: @donor
= render "phones.html", donor: @donor
= render "address.html", donor: @donor
