# App artifacts
/_build
/db
/deps
/*.ez
*.DS_Store

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
# /priv/static/

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/Saints-Donor.elmo
priv/static/images/ic_mode_edit_black_24dp_1x.png
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/Saints-Note.elmo
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/Saints-Note.elmi
elm-stuff/build-artifacts
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/Saints-Address.elmi
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/Saints-Phone.elmi
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/Saints-Donor.elmi
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/Saints-Phone.elmo
web/static/assets/images/ic_mode_edit_black_24dp_1x.png
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/Saints-Address.elmo
priv/static/js/app.js.map
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/ElmSaints.elmo
web/elm/elm-stuff/build-artifacts/0.16.0/user/project/1.0.0/ElmSaints.elmi
priv/static/css/app.css.map
web/static/vendor/elmsaints.js
